<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>푸시 알림에 대응하여 백그라운드에서 컨텐츠를 다운로드합니다.</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
